label {
  float: left;
}

input {
  margin-left:10px;
  width: 50px
}

canvas {
  margin-left: 180px;
  border: solid 1px #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.colorpicker-result {
  margin-top: 1px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
}
